# Виртуальная среда
.venv/
env/
venv/

# Python-кеш и компилированные файлы
__pycache__/
*.py[cod]
*$py.class

# База данных SQLite (если вы её используете)
db.sqlite3

# Файлы статики, собранной collectstatic
staticfiles/

# Логи, секреты, IDE-настройки
*.log
*.pot
*.py~ 
local_settings.py
.DS_Store
.idea/
.vscode/
